pre {
	border-radius: 10px;
	padding: 0;
}

pre code {
	border-radius: 10px;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	white-space: pre-wrap;
	font-size: 0.9rem !important;
	line-height: 1.5;
	font-family: Fira Code, Martian Mono Std Lt, JetBrains Mono, Cascadia Code,
		Operator Mono, Dank Mono, Consolas, Vazir, operator mono lig,
		operator mono light;
}

pre code * {
	font-style: normal !important;
}
